@import url(./fonts.css);

*{
    box-sizing: border-box;
    
}
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Manrope' sans-serif;
    background-color: black;
}


.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

}

html{
    background: rgb(233, 233, 233);
    background: linear-gradient(90deg, rgba(240,243,245,1) 0%, rgba(230,235,240,1) 100%);
}










.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .container .portal .portal-click{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 800;
 

}

.header .container .portal a{
    margin-right: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header .container .iocnki .icci .fa-magnifying-glass{
    color: rgb(0, 0, 0);
    width: 17px;
    height: 16px;
    transition: .5s;
}
.header .container .iocnki .icci:hover .fa-magnifying-glass{
    color: #3586ff;
    transition: .3s;
    
}
.header .container .iocnki .icci{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    MARGIN-LEFT: 33px;
    
   
}
.header .container .iocnki .icci .fa-cart-shopping{
    color: black;
    width: 17px;
    height: 16px;
    transition: .5s;
}
.header .container .iocnki .icci:hover .fa-cart-shopping{
    color: #3f85eed3;
    transition: .3s;
    
}
.header .container .iocnki .icci .fa-user{
    color: rgb(0, 0, 0);
    width: 17px;
    height: 16px;
    transition: .5s;
}
.header .container .iocnki .icci:hover .fa-user{
    color: #3f85eed3;
    transition: .3s;
    
}
.header .container .iocnki{
    width: 12%;
    display: flex;
    justify-content: space-between;
}
    

.header .container{
    height: 60px;
    margin-bottom: 120px;
}










.babytab{
    background-color: #000000;
    margin-top: 155px;
    padding-top: 150px;
    padding-bottom: 140px;
}

.babytab .container{
    display: flex;
    justify-content: space-between;
}
.babytab .container .bebebebebe h2{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}
.babytab .container .bebebebebe h3{
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.babytab .container .bebebebebe .more{
    width: 252px;
    height: 58px;
    background-color: #ffffff;
    font-family: 'Manrope';
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1px solid #ffffff;
    border-radius: 9px;
    transition: .5s;
    margin-top: 60px;
}
.babytab .container .bebebebebe .more:hover{
    background-color: #3586ff;
    color: white;
    -webkit-box-shadow: 0px 5px 10px 2px #3586ff;
    -moz-box-shadow: 0px 5px 10px 2px #3586ff;
    box-shadow: 0px 5px 10px 2px #3586ff;
    transition: .3s;
}
.babytab .container .bay{
    display: flex;
   
}
.babytab .container .bay .womanbabytab{
    margin-top: 40px;
    background: url(../img/лицо.jpg);
    width: 560px;
    height: 402px;
    border-radius: 25px;
}











.nomer{
    margin-top: 150px;
}
.nomer .container{
    display: flex;
    flex-direction: column;
}
.nomer .container .big{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.nomer .container .robot{
    display: flex;
    justify-content: space-between;
}

.nomer .container .robot .n1 h2{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 9px;
    width: 60px;
    text-align: center;
}
.nomer .container .robot .n1 h3{
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    color: white;
}





.seria{
    margin-top: 165px;
}
.seria .container .nova_seria{
    font-family: 'Netural';
    font-weight: 500;
   font-size: 74px;
    margin-bottom: 0;
    color: white;
}
.seria .container .zima{
    font-family: 'Netural';
    font-weight: 500;
   font-size: 74px;
    margin-top: 0;
    display: flex;
    justify-content: end;
    margin-bottom: 55px;
    color: white;
}

.seria .container .nova_seson{
    display: flex;
    justify-content: space-between;
}
.seria .container .nova_seson h2{
    font-family: 'Manrope';
   font-size: 22px;
   color: white;
}
.seria .container .nova_seson .costumchikiki .costumchiki{
    background: url(../img);
    height: 485px;
    width: 365px;
}

.seria .container .nova_seson .costumchikidssss-thrd .costumchiki2{
    background: url(../img);
    height: 210px;
    width: 370px;
}
.seria .container .nova_seson .costumchikidssss-thrd .costumchiki3{
    background: url(../img/);
    height: 210px;
    width: 370px;
}
.seria .container .nova_seson .costumchikiftz .costumchiki4{
    background: url(../img/);
    height: 485px;
    width: 365px;
}




.maygad{
    margin-top: 160px;
    margin-bottom: 160px;
}
.maygad .container{
    display: flex;
    flex-direction: column;
    

}
.maygad .container .vibinar{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
   text-align: center;
   color: white;
}

.maygad .container .vibing{
    display: flex;
    margin-top: 85px;
    justify-content: space-between;
}

.maygad .container .vibing .frst{
    width: 360px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.maygad .container .vibing .frst:hover{
    -webkit-box-shadow: 0px 5px 10px 2px #3586ff;
    -moz-box-shadow: 0px 5px 10px 2px #3586ff;
    box-shadow: 0px 5px 10px 2px #3586ff;
    scale: 1.1;
    transition: .3s;
}



.maygad .container .vibing .frst .woman-yo{
    background: url(../img);
    width: 186px;
    height: 238px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    
}
.maygad .container .vibing .frst .yo{
    font-family: 'Manrope';
    font-size: 22px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.maygad .container .vibing .scnd{
    width: 360px;
    height: 300px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.maygad .container .vibing .scnd:hover{
    -webkit-box-shadow: 0px 5px 10px 2px #3586ff;
    -moz-box-shadow: 0px 5px 10px 2px #3586ff;
    box-shadow: 0px 5px 10px 2px #3586ff;
    scale: 1.1;
    transition: .3s;
}
.maygad .container .vibing .scnd .woman-ras{
    background: url(../img/);
    width: 238px;
    height: 238px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}
.maygad .container .vibing .scnd .ras{
    font-family: 'Manrope';
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.maygad .container .vibing .thd{
    width: 360px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.maygad .container .vibing .thd:hover{
    -webkit-box-shadow: 0px 5px 10px 2px #3586ff;
    -moz-box-shadow: 0px 5px 10px 2px #3586ff;
    box-shadow: 0px 5px 10px 2px #3586ff;
    scale: 1.1;
    transition: .3s;
}
.maygad .container .vibing .thd .woman-hiit{
    background: url(../img);
    width: 186px;
    height: 238px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}
.maygad .container .vibing .thd .hiit{
    font-family: 'Manrope';
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.maygad .container .btn .all{
    width: 252px;
    height: 58px;
    background:none;
    color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    font-family:'Manrope';
    font-size: 16px;
    font-weight: 600;
    border-radius: 9px;
    transition: .5s;
    margin-top: 75px;
}
.maygad .container .btn .all:hover{
    background-color: #3586ff;
    color: white;
    -webkit-box-shadow: 0px 5px 10px 2px #3586ff;
    -moz-box-shadow: 0px 5px 10px 2px #3586ff;
    box-shadow: 0px 5px 10px 2px #3586ff;
    transition: .3s;
}

.maygad .container .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #000;
}



.zvonok{
    background-color: black;
}
.zvonok .container{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}
.zvonok .container h3{
    font-family: 'Manrope';
   font-size: 12px;
    font-weight: 500;
    color: #fafafa;
}
.zvonok .container .icon {
    display: flex;
    align-items: center;
    margin-left: 510px;
}
.zvonok .container .fa-vk{
    color: #fafafa;
    height: 20px;
    width: 20px;
    padding: 9px;
    border: 1px solid #fafafa;
    margin-bottom: 2px;
    
}
.zvonok .zvonok .bi-facebook{
    color: #fafafa;
    height: 20px;
    width: 20px;
    padding: 9px;
    border: 1px solid #fafafa;
    margin-bottom: 2px;
}
.zvonok .container a{
    margin-right: 10px;
    margin-left: 10px;
}










.resepshen{
    margin-top: 140px;
    margin-bottom: 50px;
}
.resepshen .container{
    background: rgb(230,235,240);
    background: linear-gradient(90deg, rgba(230,235,240,1) 0%, rgba(240,243,245,1) 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.resepshen .container .resepshen1{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.resepshen .container .opisanie{
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
    margin-bottom: 40px;
}
.resepshen .container .naminal{
    display: flex;
    justify-content: space-between;
    width: calc(100%/2.2);
    margin-bottom: 15px;
}
.resepshen .container .naminal h3{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.resepshen .container .naminal input{
    width: 250px;
    height: 54px;
    background: none;
    border-radius: 9px;
    border: 1px solid rgb(216, 216, 216);
    text-indent: 10px;
}
.resepshen .container .em{
    width: calc(100%/2.2);
}
.resepshen .container .em .mail{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.resepshen .container .em input{
    width: 100%;
    height: 54px;
    background: none;
    border-radius: 9px;
    border: 1px solid rgb(216, 216, 216);
    text-indent: 10px;
}
.resepshen .container .our{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    width: calc(100%/2.2);
    margin-top: 25px;
}
.resepshen .container .check{
    display: flex;
    width: calc(100%/2.2);
    margin-bottom: 30px;
    align-items: center;
}
.resepshen .container .check label{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 2px;
}
.resepshen .container .check input{
    margin-left: 0;
    margin-right: 0;
    height: 15px;
    width: 15px;
}
.resepshen .container .check .frst{
    display: flex;
    align-items: center;
}

.resepshen .container .check .scnd{
    display: flex;
    align-items: center;
    
}
.resepshen .container .check .thd{
    display: flex;
    align-items: center;
}

.resepshen .container .agree{
    width: calc(100%/2.2);
}
.resepshen .container .agree input{
    margin-left: 0;
    height: 15px;
    width: 15px;
}
.resepshen .container .agree label{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}
.resepshen .container .agree{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.resepshen .container .continue{
    width: 252px;
    height: 58px;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 600;
    color: black;
    background: none;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 9px;
    transition: .5s;
}
.resepshen .container .continue:hover{
    background-color: #3586ff;
    color: white;
    transition: .5s;
}