@import url(./fonts.css);

*{
    box-sizing: border-box;
    
}
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Manrope' sans-serif;
    background-color: black;
}


.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

}

html{
    background: rgb(233, 233, 233);
    background: linear-gradient(90deg, rgba(240,243,245,1) 0%, rgba(230,235,240,1) 100%);
}










.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .container .portal .portal-click{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 800;
 

}

.header .container .portal a{
    margin-right: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header .container .iocnki .icci .fa-magnifying-glass{
    color: rgb(0, 0, 0);
    width: 17px;
    height: 16px;
    transition: .5s;
}
.header .container .iocnki .icci:hover .fa-magnifying-glass{
    color: #3586ff;
    transition: .3s;
    
}
.header .container .iocnki .icci{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    MARGIN-LEFT: 33px;
    
   
}
.header .container .iocnki .icci .fa-cart-shopping{
    color: black;
    width: 17px;
    height: 16px;
    transition: .5s;
}
.header .container .iocnki .icci:hover .fa-cart-shopping{
    color: #3f85eed3;
    transition: .3s;
    
}
.header .container .iocnki .icci .fa-user{
    color: rgb(0, 0, 0);
    width: 17px;
    height: 16px;
    transition: .5s;
}
.header .container .iocnki .icci:hover .fa-user{
    color: #3f85eed3;
    transition: .3s;
    
}
.header .container .iocnki{
    width: 12%;
    display: flex;
    justify-content: space-between;
}
    

.header .container{
    height: 60px;
    margin-bottom: 120px;
}










.babytab{
    background-color: #000000;
    margin-top: 155px;
    padding-top: 150px;
    padding-bottom: 140px;
}

.babytab .container{
    display: flex;
    justify-content: space-between;
}
.babytab .container .bebebebebe h2{
    font-family: 'Manrope';
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}
.babytab .container .bebebebebe h3{
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.babytab .container .bebebebebe .more{
    width: 252px;
    height: 58px;
    background-color: #ffffff;
    font-family: 'Manrope';
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1px solid #ffffff;
    border-radius: 9px;
    transition: .5s;
    margin-top: 60px;
}
.babytab .container .bebebebebe .more:hover{
    background-color: #3586ff;
    color: white;
    -webkit-box-shadow: 0px 5px 10px 2px #3586ff;
    -moz-box-shadow: 0px 5px 10px 2px #3586ff;
    box-shadow: 0px 5px 10px 2px #3586ff;
    transition: .3s;
}
.babytab .container .bay{
    display: flex;
   
}
.babytab .container .bay .womanbabytab{
    margin-top: 40px;
    background: url(../img/лицо.jpg);
    width: 560px;
    height: 402px;
    border-radius: 25px;
}